.sidebar {

    position:fixed;
    top:70px;
    left:0;
    width:230px;
    height:100%;
    background:#111827;
    color:white;
    padding:25px 15px;

}


.sidebar h2 {

    text-align:center;
    margin-bottom:25px;

}


.sidebar ul {

    list-style:none;
    padding:0;

}


.sidebar li {

    padding:15px;
    margin:10px 0;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;

}


.sidebar li:hover {

    background:#2563eb;

}

@media (max-width:768px){

    .sidebar{

        transform:translateX(-100%);
        transition:0.3s;

    }


    .sidebar.active{

        transform:translateX(0);

    }


    .dashboard,
    .chat-section,
    .editor-section{

        margin-left:0;
        padding:90px 20px 20px;

    }

}

.sidebar a{

color:white;
text-decoration:none;
display:block;
width:100%;

}

.sidebar li:hover{

background:#2563eb;

}

.sidebar a:hover{

color:white;

}

/* Active Menu */

.sidebar li.active{

background:#2563eb;
border-radius:8px;

}

.sidebar li.active a{

color:white;
font-weight:bold;

}
